* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: aliceblue;
}
input{
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    background-color: #823771;
}
.form-control{
    background-color: transparent;
    color: antiquewhite;
}
.form-group{
    margin-top: 4px;
}
option{
    color: rgb(73, 73, 2);
  }
body{
    background-image: linear-gradient(to left bottom, #051937, #402b5b, #823771, #c44572, #f96363);
}

select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
}
option {
    padding: 10px;
}











.image-overlay-container {
    position: relative;
    height: 80vh;

}

.image-overlay-container img {
    height: 80vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    height: 80vh;
    background: rgba(0, 0, 0, 0.0); /* Black background with 50% opacity */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0; */
    /* transition: opacity 0.3s ease; */
}
@media (max-width: 400px){
    .overlay{
        
    margin-left: 40px;
    }
}

.image-overlay-container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    /* font-size: 1.5rem; */
    text-align: center;
}


#registered-people{
  width: 99vw;
}


.disabled {
    background-color: #ccc; /* Gray background */
    cursor: not-allowed; /* Not-allowed cursor */
}

