* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: linear-gradient(217deg, rgba(245, 111, 22, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(228, 77, 31, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(131, 131, 142, 0.8), rgba(0,0,255,0) 70.71%);
}

select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
}
option {
    padding: 10px;
}











.image-overlay-container {
    position: relative;
    height: 80vh;

}

.image-overlay-container img {
    height: 80vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    height: 80vh;
    background: rgba(0, 0, 0, 0.0); /* Black background with 50% opacity */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /* opacity: 0; */
    /* transition: opacity 0.3s ease; */
}

.image-overlay-container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    /* font-size: 1.5rem; */
    text-align: center;
}


#registered-people{
  width: 99vw;
}


.disabled {
    background-color: #ccc; /* Gray background */
    cursor: not-allowed; /* Not-allowed cursor */
}

